<link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/css/green-audio-player.min.css">
<script src="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/js/green-audio-player.min.js"></script>

<body>
    <div class="song-container-oops">
        <div class="player-container">
            <img src="<%= song_doc["album_img"] %>" width="300" height="300">
            <h1>
                <%= song_doc.name %>
            </h1>
            <p><%= song_doc.artist %></p>
            <i id="liked" class="far fa-heart" onclick="toggle()"></i>
            <p style="margin-top: 20px;">
                <button class="button" data-modal="modalOne">Add To Playlist</button>
            </p>
            <div style="margin-bottom: 30px;" class="gap-example">
                <audio id="audio" controls autoplay>
                    <source src="/song_stream/<%= id  %> " type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>

        </div>
        <div class="up-next">
            <h1>Up Next</h1>
            <div class="up-next-container" onclick="playnext()">
                <div class="up-next-info">
                    <img src="<%= up_next_doc.album_img %>" width="70" height="70">
                    <div>
                        <h2><%= up_next_doc.name %></h2>
                        <p><%= up_next_doc.artist %></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="modalOne" class="modal">
            <div class="modal-content">
                <div class="contact-form">
                    <a class="close">&times;</a>
                    <h2>Add Song To Playlist</h2>
                    <form id="form-chooose">
                        <label for="playlists">Choose a playlist:</label>
                        <select name="playlists" id="playlists">
                            <% if (user.playlists.length>0){ %>
                            <% for (let i = 0; i < user.playlists.length; i++) { %>
                            <option value="<%= user.playlists[i].name %>"><%= user.playlists[i].name %></option>
                            <% } %>
                            <% } %>

                        </select>
                        <br><br>
                        <button type="submit">Add!</button>
                    </form>
                    <form action="/playlist/new" method="POST">
                        <label for="name">Make A New Playlist</label>
                        <input type="text" id="name" name="name"><br>
                        <button type="submit">Create</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>
<style>
    .up-next-info {
        display: flex;
        margin-top: 20px;
    }

    .up-next {
        margin-left: 50px;
        margin-top: 8vh;
    }

    .song-container-oops {
        margin-left: 40vw;
        display: flex;
        flex-direction: row;
    }

    .gap-example {
        margin-top: 70px;
    }

    .player-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 100px);
    }
</style>
<script>
    var notyf = new Notyf();

    const whiteHeart = "far fa-heart";
    const blackHeart = "fas fa-heart";
    const element = document.getElementById('liked');
    var currentlyLiked = <%= liked %> ;
    if (currentlyLiked == true) {
        element.className = blackHeart;
    } else {
        element.className = whiteHeart;
    }

    document.getElementById('form-chooose').addEventListener("submit",
        function (evt) {
            evt.preventDefault();
            var playlist = document.getElementById('playlists').value;
            var song = "<%= song_doc.id %>";
            fetch('/playlist/' + playlist + '/add/' + song, {
                method: 'GET',
            }).then(function (response) {
                if (response.status == 200) {
                    notyf.success('Added to playlist!');
                } else {
                    notyf.error('Something went wrong!');
                }
            });
        });


    function toggle() {
        console.log(element.className);
        const like = element.className;
        if (like == whiteHeart) {
            element.className = blackHeart;
            addLike();
        } else {
            element.className = whiteHeart;
            removeLike();
        }
    }

    function addLike() {
        //get fetch
        fetch('/like/<%= song_doc.id %>', {
            method: 'GET',
        })
        notyf.success("Song Liked!");
    }

    function removeLike() {
        //get fetch remove like
        fetch('/remove_like/<%= song_doc.id %>', {
            method: 'GET',
        })
        notyf.success('Removed From Likes!');
    }

    var aud = document.getElementById("audio");
    aud.addEventListener("ended", function () {
        aud.currentTime = 0;
        playnext();
    });

    function playnext() {
        window.location.href = '/play/<%= up_next_doc.id %>';
    }
</script>

<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 8;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        margin: 50px auto;
        border: 1px solid #999;
        width: 60%;
    }

    h2,
    p {
        margin: 0 0 20px;
        font-weight: 400;
    }

    span {
        display: block;
        padding: 0 0 5px;
    }

    form {
        padding: 25px;
        margin: 25px;
        box-shadow: 0 2px 5px #f5f5f5;
        background: #eee;
    }

    input {
        width: 90%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #1c87c9;
        outline: none;
    }

    .contact-form button {
        width: 100%;
        padding: 10px;
        border: none;
        background: #1c87c9;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
    }

    button:hover {
        background: #2371a0;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    button.button {
        background: none;
        border-top: none;
        outline: none;
        border-right: none;
        border-left: none;
        border-bottom: #02274a 1px solid;
        padding: 0 0 3px 0;
        font-size: 16px;
        cursor: pointer;
    }

    button.button:hover {
        border-bottom: #a99567 1px solid;
        color: #a99567;
    }
</style>

<script>
    let modalBtns = [...document.querySelectorAll(".button")];
    modalBtns.forEach(function (btn) {
        btn.onclick = function () {
            let modal = btn.getAttribute('data-modal');
            document.getElementById(modal)
                .style.display = "block";
        }
    });
    let closeBtns = [...document.querySelectorAll(".close")];
    closeBtns.forEach(function (btn) {
        btn.onclick = function () {
            let modal = btn.closest('.modal');
            modal.style.display = "none";
        }
    });
    window.onclick = function (event) {
        if (event.target.className === "modal") {
            event.target.style.display = "none";
        }
    }
</script>